.user-name{
  font-size: 28px;
  }

.bio{
  padding-top: 0.5%;
  font-size: 16px;
  min-height: 80px !important;
  word-break: break-word;
  white-space: pre-wrap;
  overflow: hidden;
}

.profile-info{
  padding-top: 0.5%;
  word-break: break-word;
  overflow: hidden;
}

.search{
  margin-left: -2%;
}

.search-bio{
  font-size: 16px;
  word-break: break-word;
  white-space: pre-wrap;
  overflow: hidden;
  padding-left: 3%;
}

.search-user{
  padding-bottom: .5%;
  max-height: 130px;
  overflow: hidden;
}

.search-user-name{
  color:white; 
  display: inline-block; 
  vertical-align: middle;
  margin-left: 3%;
}

.search-user:hover{
  background-color:rgba(44, 44, 46, 0.836);
  cursor: pointer;
}

.content-nav-pad{
  padding-top: 0.5%;
}

.profile-pic{
  height: 64px;
  width: 64px;
}

.profile-min-width{
  min-width: 480px;
}

.profile-font-size-2{
  font-size: 16px;
}

.login{
  padding-bottom: 25%;
}

.forms-shadow{
  box-shadow: 0 0 12px rgb(42, 48, 42);
}

.account{
  padding-bottom: 5%;
}

.account-btn{
  height: 45px;
  width: 120px;
  font-size: 20px !important;
}

.login-form{
  margin-bottom: 30%;
}

.account-form{
  margin-bottom: 15%;
}

.vertical-height-100{
  height: calc(100vh - 75px);
}

.dropdown-menu{
  min-width: 1rem;
  background-color: white;
  border-color: rgb(66, 70, 80);
  width: 120px;
  font-size: 18px;
}

.post{
  padding-top: 0.5%;
  min-width: 100px;
}

.post-format{
  font-size: 16px;
  min-width: 480px;
}

.post-format-view{
  font-size: 16px;
  min-width: 480px;
}

.post-icon{
  font-size: 20px;
  color: white;
  border-radius: 50%;
  margin-bottom: .5%;
}

.post-button{
  padding-top: 0.5%;
  min-height: 60px;
}

.post-button-font{
  font-size: 20px;
}

.post-modal-btn:hover{
  background-color: #313538;
  cursor: pointer;
}

#back-btn{
  font-size: 35px;
}

#name, #date{
  margin-left: 3%;
}

#name:hover, #date:hover{
  text-decoration: underline;
  cursor: pointer;
}

input, textarea{
  /*background-color:#212529; */
  background-color: #313538;
  /*
  border-bottom: solid;
  border-width: thin;
  */
  color: #FFF;
  border: none;
  outline: none;
  height: 35px;
  width: 350px;
  resize: none;
}

input:focus, textarea:focus{
  outline: solid rgb(3, 172, 3) thin;
  background-color: #1c1f20;
}

label:hover{
  cursor: text;
}

#search > input::placeholder{
  color: white;
}

.search-bar{
  background-color: #313538;
  color: #FFF;
  border: none;
  outline: none;
  height: 45px;
  width: 275px;
  font-size: 18px;
}

#search > input:focus, textarea:focus{
  background-color: #313538;
  color: #FFF;
  box-shadow: none;
  outline: solid rgb(3, 172, 3) thin;
}

.dropdown-menu-center {
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 0) !important;
}

.dropdown-item:active{
  background-color:rgb(6, 6, 7);
}

.dropdown-item:hover{
  background-color:rgb(3, 172, 3);
}

.follow-btn{
  float: right;
  margin-top: 2%;
}

label {
  display: block;
  text-align: center;
  line-height: 150%;
}

.search-bloc {
  height: 500px;
  width: 1000px;
  margin: 0px auto;
  padding: 10px;
}

span.post-format:hover{
  background-color: #313538;
  cursor: pointer;
}

.like:hover{
  border-radius: 50%;
  background-color: rgba(221, 96, 96, 0.315);
}

.share:hover{
  border-radius: 50%;
  background-color: rgba(37, 128, 37, 0.301);
}

.reply:hover{
  border-radius: 50%;
  background-color: rgba(40, 129, 129, 0.281);
}

.fill-red{
  color: red;
}

.card{
  background-color:rgb(6, 6, 7);
  border-color: rgb(66, 70, 80);
  padding-top: 10px;
}

.card-bio-border{
  border: bottom;
  border-style: solid;
  border-width: thin;
  border-color: rgb(66, 70, 80);
}

.card-bio{
  font-size: 16px;
  min-height: 70px !important;
  max-height: 70px !important;
  word-break: break-word;
  white-space: pre-wrap;
  overflow: hidden;
}

.card:hover{
  background-color:rgba(44, 44, 46, 0.836);
}

/* new background color */
body, nav, .modal-content {
  background-color:rgb(6, 6, 7);
}

nav{
  height: 75px;
}

.navbar-collapse
{
  background-color:rgb(6, 6, 7);
}

.navbar-brand{
  cursor: pointer;
}

/* font */
body{
  font-family: 'Arial';
  overflow-y: scroll;
}

.modal-header, .modal-footer{
  border-color: rgb(66, 70, 80) !important;
}

.modal-form{
  height: 125px;
  width: 350px;
}

.img-cover{
  object-fit: cover;
  object-position: center;
}

.button-color{
  background-color: rgb(3, 172, 3) !important;
  color: white !important;
}

.button-submit-shape{
  height: 40px;
  min-width: 100px;
  border-radius: 25px;
  font-size: 18px;
}

.button-color:hover{
  background-color:white !important;
  color: black !important;
  border-color: rgb(66, 70, 80);
}

.border, .border-start, .border-end{
  border-color: rgb(66, 70, 80) !important;
}

.tabs-color{
  background-color:rgb(6, 6, 7) !important;
  color: white;
}

.tabs-color:hover{
  background-color:rgba(44, 44, 46, 0.836);
}

.nav-tabs-search {
  border-bottom: 0px solid transparent;
  margin-left: auto; 
  margin-right: auto; 
  margin-bottom: 1%; 
  margin-top: 1%;
  min-width: 480px;
}

.nav-tabs-profile {
  border-bottom: 0px solid transparent;
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 1%;
  min-width: 480px;
}

.nav-tabs button.active {
  background-color: rgba(44, 44, 46, 0.836) !important;
  border-bottom: 2px solid rgb(3, 172, 3) !important;
}

.nav-item > .active{
  font-size: 20px;
}

.nav-link{
  color: white;
}

.nav-item > .active:hover{
  background-color: #313538;
}

.nav-link-hover > .nav-item{
  padding-left: 1%;
}

.nav-link-hover > .nav-item > a{
  border-radius: 25px;
}

.nav-link-hover > .nav-item > a:hover{
  border-radius: 25px;
  background-color: #313538;
}

.nav-link-hover > .nav-item{
  font-size: 20px;
  min-width: 100px;
}

.dropdown > button{
  font-size: 18px;
}

.col-sm-4{
  min-width: 480px;
  max-width: 690px;
}

/* custom scrollbar

*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgb(175, 175, 175);
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color:  rgba(175, 175, 175, 0.274);
}
*/