.user-name{
  font-size: 24px;
  }

.bio{
  font-size: 16px;
  min-height: 80px !important;
  word-break: break-word;
  white-space: pre-wrap;
  overflow: hidden;
}

.content-nav-pad{
  padding-top: 0.5%;
}

.profile-pic{
  height: 64px;
  width: 64px;
}

.profile-min-width{
  min-width: 400px;
}

.profile-info{
  font-size: 16px;
  min-height: 26px;
  min-width: 100px;
  overflow: hidden;
}

.login{
  padding-bottom: 25%;
}

.account{
  padding-bottom: 5%;
}

.login-form{
  margin-bottom: 30%;
}

.account-form{
  margin-bottom: 15%;
}

.vertical-height-100{
  height: calc(100vh - 70px);
}

.acc-dropdown-pad{
  padding-right: 1%;
}

.dropdown-menu{
  min-width: 1rem;
}

.post{
  padding-top: 1%;
  min-width: 100px;
}

.post-format{
  font-size: 16px;
  min-width: 400px;
}

.post-icon{
  font-size: 20px;
  color: white;
}

.post-button{
  padding-top: 1%;
}

input, textarea{
  background-color:#212529;
  border: solid;
  border-width: thin;
  color: #FFF;
}

.dropdown-menu-center {
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 0) !important;
}

.dropdown-item:active{
  background-color: rgba(114, 19, 138, 0.25);
}

.follow-btn{
  float: right;
}

label {
  display: block;
  text-align: center;
  line-height: 150%;
}