<!doctype html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body class="bg-dark text-light">
        <nav class="nav navbar navbar-dark bg-dark navbar-expand-lg sticky-top border-bottom border-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Logo</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav me-auto mb-2 mb-lg-0">
                  {% if "user" in session %}
                  <li class="nav-item">
                    <a class="nav-link active border-start border-end" aria-current="page" href="{{ url_for('home') }}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active border-end" aria-current="page" href="{{ url_for('create_post') }}">Post</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active border-end" aria-current="page" href="#">Following</a>
                  </li>
                </ul>
                <ul class="nav navbar-nav navbar-right acc-dropdown-pad">
                  <li class="nav navbar-nav nav-item navbar-right">
                    <div class="dropdown">
                      <button class="btn btn-light text-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Account</button>
                      <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-center">
                        <li><a class="dropdown-item" href="{{ url_for('user', dynamic_user = session['user']) }}">My Profile</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('edit_profile') }}">Edit Profile</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('user_settings') }}">Settings</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
                      </ul>
                    </div>
                  </li>
                  {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                {% if "user" not in session %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('create_account') }}">Create account</a>
                  </li>
                  {% endif %}
                </ul>
                <!--
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                -->
              </div>
            </div>
          </nav>

        <!-- Main div -->
          <div class="container-fluid content-nav-pad">
        {% block content %}
        {% endblock %}
          </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </body>
</html>