{% extends "base.html" %}
{% block title %} Edit Profile {% endblock %}
{% block content %}
<div class="row justify-content-center align-items-center vertical-height-100">
    <div class="col-sm-4 text-center border">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p class="text-center">{{msg}}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <h1 class="text-center"> Edit Profile </h1>
        <form action="#" method="post">
            {{form.csrf_token}}
            <p> 
                {{form.user_bio.label}}
                {{form.user_bio(size=30)}}
            </p>
            <p> 
                {{form.first_name.label}}
                {{form.first_name(size=30)}}
            </p>
            <p> 
                {{form.middle_name.label}}
                {{form.middle_name(size=30)}}
            </p>
            <p> 
                {{form.last_name.label}}
                {{form.last_name(size=30)}}
            </p>
            <p> 
                {{form.pronouns.label}}
                {{form.pronouns(size=30)}}
            </p>
            <p> 
                {{form.occupation.label}}
                {{form.occupation(size=30)}}
            </p>
            <p>
                {{form.location.label}}
                {{form.location(size=30)}}
            </p>
            <p> 
                {{form.date_of_birth.label}}
                {{form.date_of_birth(size=30)}}
            </p>
            <button type="submit" class="btn btn-light text-dark">Save Changes</button>
        </form>
    </div>
</div>
{% endblock %}