{% extends "base.html" %}
{% block title %}Edit Profile{% endblock %}
{% block content %}
<div class="row justify-content-center align-items-center vertical-height-100">
    <div class="col-sm-4 text-center forms-shadow">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p class="text-center">{{msg}}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <h1 class="text-center"> Edit Profile </h1>
        <form name="count_text" action="#" method="post" enctype="multipart/form-data">
            {{form.csrf_token}}
            <p>
                {{form.user_bio.label}}
                {{form.user_bio(id="text", oninput="countText()")}}
                <br><label for="characters">Characters: </label>
                <span id="characters"></span>
                <span>/128</span>
            </p>
            <p> 
                {{form.first_name.label}}
                {{form.first_name()}}
            </p>
            <p> 
                {{form.middle_name.label}}
                {{form.middle_name()}}
            </p>
            <p> 
                {{form.last_name.label}}
                {{form.last_name()}}
            </p>
            <p> 
                {{form.pronouns.label}}
                {{form.pronouns()}}
            </p>
            <p> 
                {{form.occupation.label}}
                {{form.occupation()}}
            </p>
            <p>
                {{form.location.label}}
                {{form.location()}}
            </p>
            <p> 
                {{form.date_of_birth.label}}
                {{form.date_of_birth(class="text-center")}}
            </p>
            <button type="submit" class="btn button-color" style="margin-bottom: 3%;">Save Changes</button>
        </form>
    </div>
</div>
{% endblock %}