{% extends "base.html" %}
{% block title %} Edit Profile {% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="row container-fliud justify-content-center align-items-center vh-100">
    <div class="col-sm-4 text-center border">
        <h1 class="text-center"> Edit Profile </h1>
        <form action="#" method="post">
            {{form.csrf_token}}
            <p> 
                {{form.user_bio.label}}
                {{form.user_bio(size=20)}}
            </p>
            <p> 
                {{form.first_name.label}}
                {{form.first_name(size=20)}}
            </p>
            <p> 
                {{form.middle_name.label}}
                {{form.middle_name(size=20)}}
            </p>
            <p> 
                {{form.last_name.label}}
                {{form.last_name(size=20)}}
            </p>
            <!--
            <p> 
                {{form.gender.label}}
                {{form.gender(size=20)}}
            </p>
            -->
            <p> 
                {{form.pronouns.label}}
                {{form.pronouns(size=20)}}
            </p>
            <!--
            <p> 
                {{form.address.label}}
                {{form.address(size=20)}}
            </p>
            -->
            <p> 
                {{form.occupation.label}}
                {{form.occupation(size=20)}}
            </p>
            <p> 
                {{form.city.label}}
                {{form.city(size=20)}}
            </p>
            <p> 
                {{form.country.label}}
                {{form.country(size=20)}}
            </p>
            <!--
            <p> 
                {{form.zip.label}}
                {{form.zip(size=20)}}
            </p>
            -->
            <p> 
                {{form.date_of_birth.label}}
                {{form.date_of_birth(size=20)}}
            </p>
            <p><input type="submit" value="Submit"></p>
        </form>
    </div>
</div>
{% endblock %}