{% extends "base.html" %}
{% block title %}Following List{% endblock %}
{% block content %}
<h1 class="text-center account">Following List</h1>
<div class="row justify-content-center">
    <div class="col-sm-4 text-center border">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p class="text-center">{{msg}}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% if users %}
        {% set i = 0 %}
            {% for user in users %}
                <div id="{{ following_list[i].interaction_id }} " style="padding-top: 20%;">
                    <a id="user-link" href="{{ url_for('user', dynamic_user = user.user_name) }}"> {{user.user_name}} </a>
                </div>
                {% set i = i + 1 %}
            {% endfor %}
            <!-- Loading Spinner -->
            <div id="loading-follows">
                <div id="trigger-{{ last_interaction_id }}" class="row justify-content-center">
                    <div class="col-sm-4 spinner-border" role="status"></div>
                </div>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}