{% extends "base.html" %}
{% block title %}Following List{% endblock %}
{% block content %}
<h1 class="text-center account">Following List</h1>
<div class="row justify-content-center" style="width: 60%; margin: auto; min-width: 1000px;">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p class="text-center">{{msg}}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% if users %}
            {% set i = 0 %}
            {% for user in users %}
                <div id="{{ following_list[i].interaction_id }}" class="card text-center" style="width: 18rem; height: 18rem; margin-bottom: 1%; margin-left: 3%;">
                    <div class="ratio ratio-1x1 rounded-circle overflow-hidden" style="width: 80px; height: 80px; margin: auto">
                        <img class="card-img-top img-cover" src="/static/images/kitten.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body">
                    <a class="text-center" href="{{ url_for('user', dynamic_user = user.user_name) }}" style="color:white;">
                        <h5 id="user-link" class="card-title" style="color:white;">{{user.user_name}}</h5>
                        <div class="card-bio-border"></div>
                    </a>
                    <p class="card-text card-bio">{% if user.bio != None %}{{user.bio}}{% endif %}</p>
                    {% if not is_following(current_user, user) %}
                        <button id="follow-{{user.user_name}}" onclick="ajax_follow('{{user.user_name}}')" class="btn button-color button-submit-shape">Follow</button>
                    {% elif is_following(current_user, user) %} 
                        <button id="follow-{{user.user_name}}" onclick="ajax_follow('{{user.user_name}}')" class="btn button-color button-submit-shape">Unfollow</button>
                    {% endif %}
                    </div>
                </div>
                {% set i = i + 1 %}
            {% endfor %}
        {% else %}
            <div class="row justify-content-center" style="padding-top: 3%;">
                <h5 class="col-sm-4 text-center">
                    You are not following anyone.
                </h5>
            </div>
        {% endif %}
</div>

{% endblock %}