{% extends "base.html" %}
{% block title %} Home Page{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<div>
    <h1> Homepage </h1>
</div>

<div id="posts-container">
    {% for post in posts %}
    {% set user_name = get_user(id = post.user_id).user_name %}
    {% set post_user = get_user(post.user_id) %}
    <div id="{{post.id}}" class="row justify-content-center post">
        <span id="post-span" onclick="window.location='/post/{{post.id}}';" class="col-sm-4 border post-format" style="word-wrap: break-word">
            {% if user_name.profile_picture == '' %} 
                <img src="/static/images/kitten.jpg" class="media-object" style="height:80px; width:80px; float:left; border-radius: 20%">
            {% else %}
                <img src="/static/images/{{post_user.id}}/profile/{{post_user.profile_picture}}" class="media-object" style="height:80px; width:80px; float:left; border-radius: 35%">
            {% endif %}
            <p style="text-align: left;">
                <span id="name" onclick="window.location='/user/{{ user_name }}';event.stopPropagation();">{{ user_name }}</span>
                <span id="date" class="tt" data-bs-placement="bottom" title="{{ to_date_and_time(post.timestamp) }}">{{postDateFormat(post, getPostRecency(post))}}</span>
            </p>
            <br>
            <!-- call get_media here
            {% if post.filename %}
                <br>
                <img src="/static/images/{{post.user_id}}/{{post.id}}/{{media.filename}}" class="media-object" style="height:270px; width:300px; margin-left: auto">
                <br>
            {% endif %}
            -->
                <br>
            <p id="content-text">{{post.text}}</p>
            <div class="text-center">
                <span style="float: left;">
                    {% if not post.is_liked(current_user) %}
                        <a id="like-{{ post.id }}" onclick="ajax_like('{{post.id}}');event.stopPropagation();" class="btn bi bi-heart post-icon tt like" data-bs-placement="bottom" title="Like"></a>
                    {% elif post.is_liked(current_user) %}
                        <a id="like-{{ post.id }}" onclick="ajax_like('{{post.id}}');event.stopPropagation();" class="btn bi bi-heart-fill post-icon tt like fill-red" data-bs-placement="bottom" title="Unlike"></a>
                    {% endif %}
                    <span id="like_count-{{ post.id }}">{{ post.like_count }}</span>
                </span>
                <span>
                    <span class="btn bi bi-arrow-repeat post-icon tt share" data-bs-placement="bottom" title="Share"></span>
                    <span>0</span>
                </span>
                <span style="float: right">
                    <a id="reply-btn" href="{{ url_for('view_post', post_id=post.id) }}" class="btn bi bi-reply post-icon tt reply" data-bs-placement="bottom" title="Reply"></a>
                    <span id="reply_count-{{ post.id }}">{{ post.reply_count }}</span>
                </span>
            </div>
        </span>
    </div>
    {% endfor %}
    <!-- Loading Spinner -->
    <div id="loading-posts">
        <div id="trigger-{{ last_post_id }}" class="row justify-content-center">
            <div class="col-sm-4 spinner-border" role="status"></div>
        </div>
    </div>

</div>
{% endblock %}
