{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="row justify-content-center align-items-center vertical-height-100">
    <div class="col-sm-4 text-center forms-shadow">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p class="text-center">{{msg}}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <h1 class="text-center login">Log In</h1>
        <form class="login-form" action="#" method="post">
            {{form.csrf_token}}
            <p>{{form.user_name.label}}</p>
            <p>{{form.user_name(size=30)}}</p>
            <p>{{form.password.label}}</p>
            <p>{{form.password(size=30)}}</p>
            <div>
                <a href="{{ url_for('recover_account') }}" class="text-light">Forgot username or password?</a>
            </div>
            <button type="submit" class="btn button-color" style="margin-top: 3%;">Log In</button>
        </form>
    </div>
</div>
{% endblock %}