{% extends "base.html" %}
{% block title %} Login Page {% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<div class = "row container-fliud justify-content-center align-items-center login-1">
    <div class="col-sm-4 login-2">
        <form action="#" method="post">
            {{form.csrf_token}}
            <p> 
                {{form.user_name.label}}
                {{form.user_name(size=20)}}
            </p>
            <p>
                {{form.password.label}}
                {{form.password(size=20)}}
            </p>
            <p>
                <input type="submit" value="Log In">
            </p>
        </form>
    </div>
</div>
{% endblock %}