{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}
{% block content %}
<div class="row justify-content-center align-items-center vertical-height-100">
    <div class="col-sm-4 text-center border">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p class="text-center">{{msg}}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <h1 class="text-center account">Reset Password</h1>
        <form class="account-form" action="#" method="post">
            {{form.csrf_token}}
            <p>{{form.password.label}}</p>
            <p>{{form.password(size=30)}}</p>
            <p>{{form.confirm.label}}</p>
            <p>{{form.confirm(size=30)}}</p>
            <button type="submit" class="btn btn-light text-dark">Reset Password</button>
        </form>
    </div>
</div>

{% endblock %}