{% extends "base.html" %}
{% block title %}{{dynamic_user}}'s Page{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="row justify-content-center">
    <div class="col-sm-4 media border profile-min-width">
        <div class="align-self-center">
            <img src="/static/images/kitten.jpg" class="media-object" style="width:80px">
            {% if "user" in session %}
                {% if session["user"] != dynamic_user and not current_user.is_following(user) %}
                    <a id="follow" onclick="ajax_follow('{{dynamic_user}}')" class="btn btn-light text-dark follow-btn">Follow</a>
                {% elif session["user"] != dynamic_user and current_user.is_following(user) %} 
                    <a id="follow" onclick="ajax_follow('{{dynamic_user}}')" class="btn btn-light text-dark follow-btn">Unfollow</a>
                {% endif %}
            {% else %}
                <a href="{{ url_for('follow_user', dynamic_user = user.user_name) }}" class="btn btn-light text-dark follow-btn">Follow</a>
            {% endif %}
        </div>
        <div class="media-body">
            <h4 class="media-heading user-name border">{{dynamic_user}}</h4>
            <p class="pronouns border"> 
                {% if user.pronouns != None %}{{user.pronouns}}{% endif %} 
            </p>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <span class="col-sm-1 profile-info border">
        {% if user.first_name != None %}{{user.first_name}}{% endif %}
        {% if user.last_name != None %}{{user.last_name}}{% endif %}
    </span>
    <span class="col-sm-1 profile-info border">
        {% if user.location != None %}{{user.location}}{% endif %}
    </span>
    <span class="col-sm-2 profile-info border">
        {% if user.occupation != None %}{{user.occupation}}{% endif %}
    </span>
    <!--
    <span class="col-sm-1 profile-info border">
        {% if user.date_of_birth != None %} {{user.date_of_birth}} {% endif %}
    </span>
    -->
</div>
<div class="row justify-content-center" style = "word-wrap: break-word;">
    <span class="col-sm-4 d-flex bio border profile-min-width">{% if user.bio != None %}{{user.bio}}{% endif %}</span>
</div>
{% if dynamic_user == session["user"] %}
<div class="row justify-content-center post-button">
    <span class="col-sm-4 text-center">
            <!-- Button trigger modal -->
        <button type="button" class="btn btn-light text-dark" data-bs-toggle="modal" data-bs-target="#postModal">Create Post</button>
        <!-- Modal -->
        <div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="postModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content bg-dark text-light">
                    <div class="modal-header">
                        <h5 class="modal-title" id="postModalLabel">Create Post</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="#" method="post" enctype="multipart/form-data">
                            {{form.csrf_token}}
                            <p>{{form.text.label}}</p>
                            <p>{{form.text(size=20)}}</p>
                            <p>{{form.media.label}}</p>
                            <p>{{form.media(size=20)}}</p>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-light text-dark">Submit Post</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </span>
</div>
{% endif %}
{% for post in posts %}
<div class="row justify-content-center post">
    <span onclick="window.location='/post/{{post.id}}';" class="col-sm-4 border post-format" style="word-wrap: break-word">
        <img src="/static/images/kitten.jpg" class="media-object" style="height:60px; width:60px; float:left">
        <p style="text-align: left;">
            &emsp;{{dynamic_user}}&emsp;{{postDateFormat(post, getPostRecency(post))}}
        </p>
        <br>
        <p>{{post.text}}</p>
        <div class="text-center">
            {% if not post.is_liked(current_user) %}
                <a id="like_{{ post.id }}" onclick="ajax_like('{{post.id}}');event.stopPropagation();" class="btn bi bi-heart post-icon tt like" data-bs-placement="bottom" title="Like" style="float: left;"></a>
            {% elif post.is_liked(current_user) %}
                <a id="like_{{ post.id }}" onclick="ajax_like('{{post.id}}');event.stopPropagation();" class="btn bi bi-heart-fill post-icon tt like" data-bs-placement="bottom" title="Unlike" style="float: left; color: red;"></a>
            {% endif %}
            <span class="btn bi bi-arrow-repeat post-icon tt share" data-bs-placement="bottom" title="Share"></span>
            <a href="{{ url_for('view_post', post_id=post.id) }}" class="btn bi bi-reply post-icon tt reply" data-bs-placement="bottom" title="Reply" style="float: right;"></a>
        </div>
    </span>
</div>
{% endfor %}
{% endblock %}