{% extends "base.html" %}
{% block title %} Settings {% endblock %}
{% block content %}
<div class="row justify-content-center align-items-center vertical-height-100">
    <div class="col-sm-4 text-center border">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p class="text-center">{{msg}}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <h1 class="text-center"> Settings </h1>
        <form action="#" method="post">
            {{form.csrf_token}}
            <p> 
                {{form.email.label}}
                {{form.email(size=30)}}
            </p>
            <p>
                {{form.password.label}}
                {{form.password(size=30)}}
            </p>
            <p>
                {{form.confirm.label}}
                {{form.confirm(size=30)}}
            </p>
            <button type="submit" class="btn btn-light text-dark">Save Changes</button>
        </form>
    </div>
</div>
{% endblock %}