{% extends "base.html" %}
{% block title %} User Page{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<h1> Welcome {{session["user"]}}</h1>
<form action="#" method="POST">
    <input type="email" name="email" placeholder="Enter email" value="{{email if email}}"/>
    <input type="submit" name="submit">
</form>
</form>
{% endblock %}