{% extends "base.html" %}
{% block title %} User Page{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="row justify-content-center">
    <div class="col-sm-4 media border">
        <div class="align-self-center">
            <img src="/static/images/kitten.jpg" class="media-object" style="width:80px">
        </div>
        <div class="media-body">
            <h4 class="media-heading user-name border">{{dynamic_user}}</h4>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <span class="col-sm-2 name border">
        {% if profile.first_name != "NULL" %} {{profile.first_name}} {% endif %}
        {% if profile.last_name != "NULL" %} {{profile.last_name}} {% endif %}
    </span>
    <span class="col-sm-2 location text-end border">
        <!--
        {% if profile.location != "NULL" %} {{profile.location}}, {% endif %}
        -->
    </span>
</div>
<div class="row justify-content-center">
    <span class="col-sm-4 bio border">{% if profile.bio != "NULL" %} {{profile.bio}} {% endif %}</span>
</div>
<div class="row justify-content-center">
    <span class="col-sm-4 text-center">
            <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Create Post</button>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content bg-dark text-light">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create Post</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="#" method="post">
                            {{form.csrf_token}}
                            <p>{{form.text.label}}</p>
                            <p>{{form.text(size=20)}}</p>
                            <p>{{form.media.label}}</p>
                            <p>{{form.media(size=20)}}</p>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Create Post</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </span>
</div>
{% for post in posts %}
<div class="row justify-content-center post">
    <span class="col-sm-4 location border post-font" style="word-wrap: break-word">
    <p>
        <img src="/static/images/kitten.jpg" class="media-object" style="height:60px; width:60px; float:left">
        <p style="text-align: left;">
            &emsp;{{dynamic_user}}&emsp;{{post.date_posted}}
        </p>
        <br><br><p style="text-align: center;">{{post.text}}</p>
    </p>
    </span>
</div>
{% endfor %}
{% endblock %}